# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb
*.egg
*.egg-info/
dist/
build/
.eggs/

# Virtual Environment
venv/
env/
ENV/
.venv/

# Environment variables
.env

# Database
*.db
*.sqlite3

# IDEs e editores
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs
*.log

# PyInstaller
*.manifest
*.spec

# MyPy
.mypy_cache/
.dmypy.json

# Coverage
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
pytest_cache/
